<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.intellectual.mapper.DeadlineTypeConfigMapper">

  <resultMap id="BaseResultMap" type="com.intellectual.model.entity.DeadlineTypeConfig">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="deadline_type" jdbcType="VARCHAR" property="deadlineType"/>
    <result column="default_days" jdbcType="INTEGER" property="defaultDays"/>
    <result column="description" jdbcType="VARCHAR" property="description"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, deadline_type, default_days, description
  </sql>
</mapper>
