<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.intellectual.mapper.NotificationMessageMapper">

  <resultMap id="BaseResultMap" type="com.intellectual.model.entity.NotificationMessage">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="user_id" jdbcType="BIGINT" property="userId"/>
    <result column="case_id" jdbcType="BIGINT" property="caseId"/>
    <result column="deadline_id" jdbcType="BIGINT" property="deadlineId"/>
    <result column="title" jdbcType="VARCHAR" property="title"/>
    <result column="link" jdbcType="VARCHAR" property="link"/>
    <result column="is_read" jdbcType="TINYINT" property="isRead"/>
    <result column="is_pushed" jdbcType="TINYINT" property="isPushed"/>
    <result column="planned_send_time" jdbcType="TIMESTAMP" property="plannedSendTime"/>
    <result column="actual_send_time" jdbcType="TIMESTAMP" property="actualSendTime"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="read_time" jdbcType="TIMESTAMP" property="readTime"/>
    <result column="is_estimate_calc" jdbcType="TINYINT" property="isEstimateCalc"/>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.intellectual.model.entity.NotificationMessage">
    <result column="content" jdbcType="LONGVARCHAR" property="content"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, case_id, deadline_id, title, link, is_read, 
	is_pushed, planned_send_time, actual_send_time, create_time, read_time, is_estimate_calc
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
</mapper>
